@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:ital,wght@0,400;1,200&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #101010;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: aliceblue;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.content {
    position: relative;
    width: 1350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image {
    position: relative;
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    z-index: 111;
    flex: auto;
    justify-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box {
    z-index: 222;
    background: #6b6a6aa9;
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 500px;
    border: 1px solid rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
    width: 500px;
}

.media-icons {
    margin-top: 100px;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

.section-title {
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}

.media-info {
    width: 400px;
    margin-left: 0px;
    padding-right: 50px;
}

.media-info li {
    list-style: none;
    font-size: 1.4em;
    margin-right: 20px;
    width: 300px;
}

.media-info li a {
    color: #fff;
    text-decoration: none;
}

.media-info li:not(:last-child) {
    margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
    padding-left: 50px;
}

.sec-03 {
    margin-bottom: 100px;
}

.sec-04 {
    margin-bottom: 300px;
}

.sec-04 .content {
    flex-direction: row;
}
.sec-04 .content .image {
    margin-right: 20px;
}

.image-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.image-info img {
    width: 400px;
    max-width: 400px; /* Adjust the width as needed */
    height: 200;
    margin-right: 300px;
}

/* Estilos para o footer */
footer {
    background-image: linear-gradient(to right, #ffffffbf, #171717);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Estilos para os ícones */
footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

footer .social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #000;
}

/* Estilos adicionais conforme necessário */
